.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    background: rgb(46,42,61)
}

.filter {
    outline: none;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    background: transparent;
}

@media screen and (max-width: 992px){
    .filter{
        padding: 10px 15px;
    }
}

@media screen and (max-width: 768px){
    .container{
        justify-content: center;
    }
}

@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
}