.not_found {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #f44336;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}