@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;500;600;700;900&family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(131, 58, 180);
    font-family: 'Poppins', sans-serif;
    background: rgb(60,72,163);
    background: linear-gradient(52deg, rgba(60,72,163,1) 0%, rgba(141,67,151,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}